<div class="card-grid">
  <div class="card">
    <h3>Stored XSS</h3>
    <p>Feladatleírás, vagy egy rövid ismertető a sérlükényeséghez</p>
    <button>Indítás</button>
  </div>

  <div class="card">
    <h3>Reflected XSS</h3>
    <p>Feladatleírás, vagy egy rövid ismertető a sérlükényeséghez</p>
    <button>Indítás</button>
  </div>

  <div class="card">
    <h3>DOM Based XSS</h3>
    <p>Feladatleírás, vagy egy rövid ismertető a sérlükényeséghez</p>
    <button>Indítás</button>
  </div>

  <div class="card">
    <h3>Client XSS</h3>
    <p>Feladatleírás, vagy egy rövid ismertető a sérlükényeséghez</p>
    <button>Indítás</button>
  </div>

  <div class="card">
    <h3>Server XSS</h3>
    <p>Feladatleírás, vagy egy rövid ismertető a sérlükényeséghez</p>
    <button>Indítás</button>
  </div>
</div>
