*.log
*.env
.DS_Store
*.swp
*.swo

**/__pycache__/
**/**/*.py[cod]
**/*.sqlite3
**/*.db
**/*.log
**/venv
**/.env
**/*.egg-info/
**/secret.txt
**/cookies.txt
**/.mypy_cache/
**/.pytest_cache/

**/node_modules/
**/dist/
**/.angular
**/.env
**/.env.*
**/package-lock.json

.vscode/
*.iml
*.bak
*.tmp