<header class="topbar">
  <h1 routerLink="/dashboard">HackMeFast</h1>
</header>
<div class="wrapper">
  <div class="container">
    <nav class="sidebar">
      <ul>
        <li routerLink="/dashboard/xss" routerLinkActive="active">XSS</li>
        <li routerLink="/dashboard/sqli" routerLinkActive="active">SQLi</li>
        <li routerLink="/dashboard/csrf" routerLinkActive="active">CSRF</li>
      </ul>
    </nav>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
